<p><a class="prev-link" routerLink="/categories">Categories >></a>
  {{category | capitalize}}</p>
<div class="container">
  <h3>Learn About: {{category | capitalize}}</h3>
  <button class="btn btn-primary"
    (click)="openDialog()">New Question</button>
  <div class="question-section">
    <div class="well" *ngFor="let question of questions; let i=index">
      <div *ngIf="question.exists">
        <a routerLink="questions/{{question.id}}">
          <p class="description">{{question.description}}</p>
        </a>
        <p class="status-bar">
          <img (click)="incLikes(i+1)" src="../../assets/like.png"
               title="Like"> {{question.likes}}&nbsp;&nbsp;&nbsp;
          <img (click)="incDislikes(i+1)" class="dislike"
               src="../../assets/dislike.png" title="Dislike"> {{question.dislikes}}&nbsp;&nbsp;&nbsp;
          <img (click)="openPromptDialog(i+1)" src="../../assets/delete.png"
               title="Delete">&nbsp;&nbsp;&nbsp; {{question.answers.length}} answers</p>
        <hr>
      </div>
    </div>
  </div>

  <button class="btn btn-primary"
    (click)="goBack()">Back</button>
</div>
