.status-bar img {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.status-bar {
  height: 20px;
  line-height: 20px;
}
.answer-section {
  margin-top: 20px;
}

.container {
  padding-top: 130px;
  margin-bottom: 30px;
}
