.mat-dialog-title {
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-weight: normal;
}

.action {
  display: flex;
  justify-content: space-around;
}

.no {
  color: darkslateblue;
  background-color: white;
}
