<h2>Categories</h2>
<div *ngFor="let category of categories">

  <div class="container">
    <div class="icon">
      <img [src]="category.iconUrl" [alt]="category.title"
            onerror="src='../../assets/default.png';">
    </div>

    <div class="category-body">
      <h3><a routerLink="{{category.title | lowercase}}">
          {{category.title | capitalize}}</a></h3>
      <p>{{category.description}}</p>
      <ul class="tags">
        <li *ngFor="let tag of category.tags">{{tag}}</li>
      </ul>

    </div>
  </div>

  <hr>
</div>
<button (click)="openDialog()">New Category</button>

