img {
  width: 127px;
  height: 127px;
  margin-left: 18px;
  border-radius: 50%;
}
h3 {
  color: dodgerblue;
  margin-top: 0px;

}
.tags {
  list-style: none;
  padding: 0px;
}

.tags li {
  display: inline-block;
  background-color: rgb(210, 210, 210);
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.well {
  cursor: pointer;
}
.well:hover {
  transform: scale(1.02, 1.02);
  background-color: #dfdfdf;
}
.well:focus {
  outline: none;
}
.container {
  padding-top: 130px;
  margin-bottom: 30px;
}
